<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 현재 Mapper 파일(SQL문들의 집합)의 고유한 이름을 namespace 속성에 지정 -->
<!-- 일반적으로 여기 등록된 SQL문들을 실행할 인터페이스의 이름과 동일하게 설정, BbsDao.java -->
<mapper namespace="kr.ac.kopo.bbs.AttachDao">

	<resultMap type="BbsVo" id="BbsMap">
		<id property="bbsNo" column="bbsNo" />
		<result property="bbsTitle" column="bbsTitle" />
		<result property="bbsContent" column="bbsContent" />
		<result property="bbsWriter" column="bbsWriter" />
		<result property="bbsRegDate" column="bbsRegDate" />
		<result property="bbsCount" column="bbsCount" />
	</resultMap>

	<!-- 실행헤 필요한 값을 받는 경우에는, 받을 값을 타입을 parameterType 속성에 지정 / java.lang.String으로 
		써야하는걸 string으로 축약 -->
	<select id="selectAttach" parameterType="int" resultType="AttachVo">
		SELECT att_no, att_org_name, att_new_name, att_bbs_no
		FROM attach
		WHERE att_no = #{attNo}
	</select>

	<!-- 파라미터로 받은 객체의 속성(변수)값을 SQL문에 주입하기 위해서 #{변수명} 을 사용 -->
	<insert id="insertAttach" parameterType="AttachVo">
		INSERT INTO attach
		(att_no, att_org_name, att_new_name, att_bbs_no)
		VALUES (seq_att_no.nextval,#{attOrgName},#{attNewName},#{attBbsNo})
	</insert>




</mapper>